
PORT=8000

# บน Server
DB_HOST=db
#ในเครื่องเรา localhost
#DB_HOST=localhost

DB_USER=root
DB_PASS=change-this-password
DB_DATABASE=classroom-reservation-system
DB_PORT=3306

JWT_SECRET=change-me-very-long-random-string
